<div class="jumbotron heroBanner">
  <div class="container heroBanner-content">
    <h1 class="contentWrapper-actionText">{{ actionText }}</h1>
    <p class="contentWrapper-infoText">{{ infoText }}</p>
  </div>
</div>