<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button
        *ngIf="user.isValid()"
        id="navbarMenu"
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#navbar"
        aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img
          alt="Aviva"
          src="/app/assets/images/aviva_horizontal.png"  />
      </a>
    </div>
    <div
      id="navbar"
      class="navbar-collapse collapse"
      aria-expanded="false">
      <form
        (ngSubmit)="logout()"
        class="navbar-form navbar-right">
        <button
          *ngIf="user.isValid()"
          type="submit"
          class="btn btn-primary">Log out</button>
      </form>
    </div>
  </div>
</nav>