<hero-banner
  [actionText]="actionText"
  [infoText]="infoText">
</hero-banner>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <p class="centered-para">
        <button
          class="btn btn-aviva"
          (click)="locateMe()">Locate me</button>
      </p>
    </div>
  </div>
</div>