<hero-banner
  [actionText]="actionText"
  [infoText]="infoText">
</hero-banner>
<div class="container">
  <div class="row  mapContainer">
    <div id="map"></div>
  </div>
</div>
<div class="container"
  *ngIf="!user.isLocated()">
  <div class="row"> 
    <p>Locating you...</p>
  </div>
</div>
<div class="container"
  *ngIf="user.isLocated() && !messageReady">
  <div class="row">
    <p class="centered-para">
      <button
      class="btn btn-aviva"
      (click)="autoLossAlert()">I've been in a car accident</button>
    </p>
  </div>
  <div class="row">
    <p class="centered-para">
      <button
      class="btn btn-aviva"
      (click)="homeLossAlert()">Something's happpened in my home</button>
    </p>
  </div>
</div>
<div class="container messageBox"
  *ngIf="messageReady">
  <div class="row">
    <user-message
      [heading]="message.heading"
      [message]="message.message"></user-message>
  </div>
</div>