<aside
  class="alert alert-success alert-dismissable"
  role="alert">
  <button
    type="button"
    class="close"
    data-dismiss="alert"
    aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <header class="messageHeader">{{ heading }}</header>
  <section>{{ message }}</section>
</aside>