body {
  color: #5c596d;
  font-family: 'Source Sans Pro', Roboto, Ubuntu, 'Helvetica Neue', Helvetica, 'Segoe UI', sans-serif;
}

footer {
  background-color: #333;
  bottom: 0;
  color: #c3c3c3;
  padding-top: 8px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.btn {
  border: 0px;
}

.btn-aviva {
  background-color: #FFD900;
  border: 0px;
  color: #004FB6;
}

.btn-aviva:hover {
  background-color: #004FB6;
  border: 0px;
  color: #FFF;
}

.btn-primary {
  background-color: #004FB6;
  border: 0px;
  color: #FFF;
}

.centered-para {
  text-align: center;
}

.heroBanner {
  background-color: #FFD900;
  height: 240px;
  min-width: 210px;
}

.heroBanner-content {
  color: #5c596d;
  margin-top: 20px;
  text-align: center;
}

.heroBanner-content h1 {
  font-size: 4em;
}

.mapContainer {
  height: 280px;
}

.messageBox {
  height: 60px;
}

.messageHeader {
  font-size: 1.2em;
  font-weight: 600;
}

.navbar {
  background-color: #FFD900;
  border-width: 0;
  min-width: 210px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand img {
  height: 60px;
  padding: 0px;
}

.navbar-collapse[aria-expanded="false"] .btn {
  margin-top: 8px;
}

.navbar-collapse[aria-expanded="true"] {
  background-color: #004FB6;
}

.navbar-collapse[aria-expanded="true"] .btn-primary {
  background-color: #001e60;
}

.navbar-collapse[aria-expanded="true"] .btn-primary:hover {
  background-color: #13488d;
}

.navbar-form {
  margin-bottom: 0px;
  margin-top: 0px;
}

.navbar-toggle {
  background-color: #004FB6;
  border-radius: 0;
  border-width: 0;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #004FB6;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: none;
}

#map {
  height: 95%;
}