<hero-banner
  [actionText]="actionText"
  [infoText]="infoText">
</hero-banner>
<div class="container">
  <div class="row">
    <div class="col-md-4">
        <p>
          <button
          *ngIf="!isLoggedIn"
          class="btn btn-primary"
          (click)="login()">Log In</button>
        </p>
    </div>
  </div>
</div>